.regForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 100px;
  width: 100vw;
  height: 100%;
  background-color: white;
}

.regForm__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  min-width: 396px;
  margin-top: 40px;
  text-align: start;
}

.regForm__input {
  background: #f9f9f9;
  border: none;
  border-radius: 8px;
  width: 396px;
  height: 46px;
  margin-top: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-left: 15px;
  box-sizing: border-box;
}

.regForm__input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  opacity: 0.6;
}

.regForm__submit {
  background: #ffa218;
  border: none;
  border-radius: 3px;
  width: 396px;
  height: 45px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  margin-top: 130px;
  cursor: pointer;
  transition: all 0.4s;
}

.regForm__signIn {
  background: none;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffa218;
  cursor: pointer;
  transition: all 0.4s;
}

.regForm__container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 22px;
}

.regForm__input-name {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
}

.regForm__err {
  bottom: -20px;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: red;
  margin-top: 10px;
}

.regForm__signIn-signature {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
}

.regForm__logo {
  position: absolute;
  top: 35px;
  left: 446px;
  width: 68px;
  height: 48px;
  align-self: flex-start;
  cursor: pointer;
  transition: all 0.2s linear;
}

.regForm__link {
  display: block;
  align-self: flex-start;
}

.regForm__signIn-container {
  margin-top: 14px;
}

@media screen and (max-width: 768px) {
  .regForm {
    padding-top: 232px;
  }
}

@media screen and (max-width: 500px) {
  .regForm__submit {
    width: 260px;
    height: 45px;
    margin-top: 156px;
    font-size: 12px;
    line-height: 15px;
  }

  .regForm__input {
    width: 260px;
    height: 46px;
  }

  .regForm__title {
    min-width: 260px;
    text-align: center;
    margin-top: 50px;
  }

  .regForm__logo {
    align-self: center;
  }

  .regForm__link {
    align-self: center;
  }

  .regForm {
    padding-top: 56px;
  }

  .regForm__container:first-of-type {
    margin-top: 62px;
  }
}

.regForm__logo:hover,
.regForm__signIn:hover {
  transform: scale(1.2, 1.2);
}

.regForm__logo:active {
  transform: scale(0.9, 0.9);
}

.regForm__submit:hover {
  transform: scale(1.05, 1.05);
}
