.categories {
  display: grid;
  grid-template-rows: 280px;
  grid-template-columns: repeat(4, 280px);
  grid-auto-rows: repeat(auto-fit, 280px);
  grid-auto-columns: repeat(auto-fit, 280px);
  gap: 10px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin: auto;
  padding: 70px 0 0;
  height: 80vh;
  background-color: #f6f6f6;
}
