.admin-page {
  padding-top: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: white;
  width: 100%;
  height: 100%;

}

.admin-page_dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.admin-page__card {
  position: relative;
  width: 300px;
  min-height: 500px;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}



.admin-page__item {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: grab;
  border-radius: 8px;
  width: 100%;
  min-height: 50px;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  box-sizing: border-box;

}

.admin-page__delete {
  position: absolute;
  display: block;
  top: 10px;
  right: 0px;
  width: 15px;
  height: 15px;
  border: none;

  background-position: 50% 50%;
background-size:contain;
background-repeat: no-repeat;
  background-image: url("../../images/delete.png");
  cursor: pointer;
transition: all.4s;
z-index: 0;
}

.admin-page__delete:hover {
  transform: scale(1.5,1.5);

}

.admin-page__itemContainer {
  width: 100%;
min-height: 50px;
overflow-wrap:break-word ;
}

.padding {
  padding-top: 20px;
}



.orange {
  position: relative;
  background-color: #fc8507;
  display: flex;
  flex-direction: column;
  cursor: grab;
  border-radius: 8px;
  width: 100%;
  min-height: 50px;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  box-sizing: border-box;
}

.admin-page__item:hover {
  background-color: rgba(143, 126, 126,.6);
}


.admin-page__addTask_11,
.admin-page__addTask_12,
.admin-page__addTask_13 {
  position: absolute;
  top: -100px;
  left: calc(50% - 70px);
  background: #fc8507;
  border: none;
  cursor: pointer;
  height: 30px;
  border-radius: 8px;
  transition: all 0.4s;
  width: 140px;
}
.admin-page__addTask_11:hover,
.admin-page__addTask_12:hover,
.admin-page__addTask_13:hover,
.admin-page__submint:hover {
  transform: scale(1.1, 1.1);
}


.admin-page__addTask_11:active,
.admin-page__addTask_12:active,
.admin-page__addTask_13:active,
.admin-page__submint:active {
  transform: scale(.9, .9);
}

.admin-page__popup {
  background-color: white;
  height: 320px;
  width: 320px;
  border-radius: 8px;
  position: absolute;
  top: calc(50% - 160px);
  left: calc(50% - 160px);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.admin-page__task {
  width: 80%;
  height: 40px;
  border-radius: 8px;
}

.admin-page__submint {
  cursor: pointer;
  border-radius: 8px;
  width: 100px;
  height: 30px;
  transition: all 0.4s;
}

.admin-page__label {
  display: block;
  margin-bottom: 15px;
}
