.main {
  margin: 110px auto 0;
  height: calc(100% - 300px);
  background-color: #f6f6f6;
  padding: 30px 20px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.main__container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  min-width: 1000px;
}

.main__job {
  width: 600px;
  height: 200px;
  background-color: white;
  border-radius: 8px;
  background-image: url("../../images/market.jpg");
  object-fit: contain;
  background-size: 100% 100%;
}

.main__actions {
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 8px;
  background-image: url("../../images/act.webp");
  object-fit: contain;
  background-size: 100% 100%;
}

.main__items {
  margin-top: 40px;
  position: relative;
  background-color: white;
  width: 950px;
  height: 166px;
  border-radius: 8px;
}

.main__items-title {
  position: absolute;
  top: -25px;
  left: 0;
  font-size: 20px;
  font-weight: 700;
  height: 30px;
  line-height: 1.3;
}

.main__wrapper {
  display: flex;
  gap: 50px;
  width: 950px;
}


@media screen and (max-width: 1270px) {

  .main {
    padding-top: 50px;
  }
  .main__container {
    min-width: 600px;}
}

@media screen and (max-width: 1270px) {

  .main {
height: 100%;
    justify-content: start;
  }

  .main__wrapper {
    align-items: center;
    gap: 20px;
   flex-direction: column;}

   .main__job {
     align-self: start;
   }

    .main__actions {
      align-self: start;
    }

  .main__items {

    width: 650px;

  }
}

@media screen and (max-width: 1080px) {
  .main__wrapper {
    align-items: flex-end;
    width: 100%;
      }
  .main__job {
    position: relative;
    width: 600px;
    height: 200px;
  order: 2}

  .main__actions {
position: relative;
    right: 0px;
  }

  .main__container {
    max-width: 500px;
    min-width: 400px;}
  .main__items {
    position: absolute;
    left: 200px;
    top: 640px;
  }
}





@media screen and (max-width: 900px) {
  .main__items {
    align-self: center;
    width: 650px;
    height: 166px;
    left: 75px;
  }

  .main__job {
    width: 500px;
    height: 175px;
    left: calc(50% - 250px);
  }
}

@media screen and (max-width: 780px) {
  .main__items {
    align-self: center;
    width: 500px;
    height: 166px;
    left: 75px;
  }

  .main__job {
    position: absolute;
    left: calc(50% - 400px);
    top: 400px;
    width: 500px;
    height: 175px;
    left: calc(50% - 250px);
  }
}

@media screen and (max-width: 780px) {
  .main__items {
width: 400px;
  }
}